.pokemon{
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  padding: 20px;
}

.pokemon:hover{
  cursor: pointer;
}

.pokemon:hover *{
  text-decoration: none;
}

.pokemonImage {
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pokemon h5{
  color: #656565;
}

.pokemon ul{
  list-style-type: none;
  padding: 0;
}

.pokemonType{
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
}

.pokemonType a {
  color: #ffffff !important;
  cursor: pointer;
}

.pokemonType a:hover{
  text-decoration: none;
}
